<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ page language="java" contentType="text/html;charset=utf-8" %>
<%@ page import = "voyages.models.implementations.User" %>

<!DOCTYPE HTML>
<html>
  <head>
    <title>VoyagesInc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/css/reset.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/css/bootstrap.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/css/owl.carousel.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/css/jquery.fancybox.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/fonts/fi/flaticon.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/css/flexslider.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/css/main.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/css/indent.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/rs-plugin/css/navigation.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/tuner/css/colorpicker.css">
    <link rel="stylesheet" href="http://html.creaws.com/suntour/tuner/css/styles.css">
    <link type="text/css" rel="stylesheet" href="<c:url value="/css/style.css"/>" >
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<!-- <link rel="alternate" type="application/rss+xml" title="Latest snippets from Bootsnipp.com" href="http://bootsnipp.com/feed.rss">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">-->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
  </head>
  <body>
	<div class="loading_content" id="preloader" style="overflow: hidden;">
		<div class="loading">
			<div class="wrapper_img">
		    	<div class="cssload-loader">
		        	<div class="cssload-inner cssload-one">
			        </div>
			        <div class="cssload-inner cssload-two">
			        </div>
			        <div class="cssload-inner cssload-three">
			        </div>
		    	</div>
		  	</div>
		</div>
	</div>
	<!-- NAVIGATION -- >
    <!-- header page-->
    <header style="display:none">
      <!-- site top panel-->
      <div class="site-top-panel">
        <div class="container p-relative">
          <div class="row">
            <div class="col-md-6 col-sm-7">
              <!-- lang select wrapper-->
              <div class="top-left-wrap font-3">
                <div class="mail-top"><a href="mailto:support.voyagesinc@example.com"> <i class="fa fa-envelope"></i>voyagesinc@support.com</a></div><span>/</span>
                <div class="tel-top"><a href="tel:(514)-700-1183"> <i class="fa fa-phone"></i>(514)-700-1183</a></div>
              </div>
              <!-- ! lang select wrapper-->
            </div>
            <div class="col-md-6 col-sm-5 text-right">
              <div class="top-right-wrap">
              	<li class="top-login" >
                    <a href="<c:url value="products"/>">
                    <span><i class="fa fa-fighter-jet"></i>&nbsp;Voyages</span>
                    </a>
                </li>
                <div class="curr-wrap dropdown">
                  <div>
                    <ul>
                    
                      <li><a href="#" class="lang-sel icl-en">Currency<i class="fa fa-angle-down"></i></a>
                        <ul>
                          <li><a href="#">USD</a></li>
                          <li><a href="#">EUR</a></li>
                          <li> <a href="#">GBP</a></li>
                          <li> <a href="#">AUD</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="lang-wrap dropdown" style="margin-right:8%" >
                  <div>
                    <ul>
                      <li><a href="#" class="lang-sel icl-en" >Language <i class="fa fa-angle-down"></i></a>
                        <ul>
                          <li><a href="#">English</a></li>
                          <li> <a href="#">Deutsch</a></li>
                          <li> <a href="#">Espanol</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                
				<!-- Cart --> 
                <div class="top-login" style="margin-right:5%;"><a style="color:white;" href="<c:url value="/cart"/>"><span class="fa fa-shopping-cart" aria-hidden="true"></span></a></div>
				<!-- Orders --> 
				<div class="top-login" style="margin-right:5%;"><a style="color:white;" href="orders"><span class="fa fa-list" aria-hidden="true"></span></a></div>
				<!-- Checks to see if user is loged in -->  	
				<%
					User authenticatedUser = User.getAuthenticatedUser(request);
					if(authenticatedUser == null) {
				%>
						<div class="top-login" style="margin-right:5%;"><a href="<c:url value="/login"/>" type="button" class="btn btn-default navbar-btn">Sign in</a></div>
				<%
					} if(authenticatedUser != null) { %>
						<div class="top-login" style="margin-right:5%;"><a href='<c:url value="/profile"/>' ><span class="fa fa-user"></span> <span class="navbar-text"> <%= authenticatedUser.FirstName %></span></a></div>
				<% } %>			
              </div> <!-- End TOP RIGHT -->
            </div>
          </div>
        </div>
      </div>
      
      <!-- ! site top panel-->
      <!-- Navigation panel-->
      <nav  class="main-nav js-stick">
        <div class="full-wrapper relative clearfix container">
          <!-- Logo ( * your text or image into link tag *)-->
          <div class="nav-logo-wrap local-scroll"><a href="<c:url value="/products"/>">Voyages Inc.</a></div>
          <!-- Main Menu-->
          <div class="inner-nav desktop-nav">
            <ul class="clearlist">
              <!-- Item With Sub-->
              <li><a href="index.html" class="mn-has-sub active">Home <i class="fa fa-angle-down button_open"></i></a>
                <ul class="mn-sub">
                  <li class="active"><a href="index.html">Standart Slider</a></li>
                  <li><a href="index-search.html">Main Search</a></li>
                  <li><a href="index-slider.html">Full Slider</a></li>
                  <li><a href="index-video.html">Video Slider</a></li>
                </ul>
              </li>
              <!-- End Item With Sub-->
              <li class="slash">/</li>
              <!-- Item With Sub-->
              <li><a href="hotels-search.html" class="mn-has-sub">Hotels <i class="fa fa-angle-down button_open"></i></a>
                <!-- Sub-->
                <ul class="mn-sub">
                  <li><a href="hotels-list.html">Hotels list</a></li>
                  <li><a href="hotels-search.html">Hotels search</a></li>
                  <li><a href="hotels-details.html">Hotels details</a></li>
                </ul>
                <!-- End Sub-->
              </li>
              <!-- End Item With Sub-->
              <li class="slash">/</li>
              <!-- Item With Sub-->
              <li class="megamenu"><a href="page-about-us.html" class="mn-has-sub">Pages <i class="fa fa-angle-down button_open"></i></a>
                <!-- Sub-->
                <ul class="mn-sub mn-has-multi">
                  <li class="mn-sub-multi"><a class="mn-group-title">Pages</a>
                    <ul>
                      <li><a href="page-about-us.html">About Us</a></li>
                      <li><a href="page-services.html">Services</a></li>
                      <li><a href="page-procces.html">Our Procces</a></li>
                      <li><a href="page-our-team.html">Our Team</a></li>
                      <li><a href="page-profile.html">Profile</a></li>
                      <li><a href="page-elements.html">Elements</a></li>
                    </ul>
                  </li>
                  <li class="mn-sub-multi"><a class="mn-group-title">Portfolio</a>
                    <ul>
                      <li><a href="portfolio-3-col.html">Three Columns</a></li>
                      <li><a href="portfolio-4-col.html">Four Columns</a></li>
                      <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                      <li><a href="portfolio-with-sidebar.html">With Sidebar</a></li>
                      <li><a href="portfolio-gallery.html">Gallery</a></li>
                      <li><a href="page-portfolio-single.html">Portfolio Single</a></li>
                    </ul>
                  </li>
                  <li class="mn-sub-multi"><a class="mn-group-title">Blog</a>
                    <ul>
                      <li><a href="blog-2-col-sidebar.html">Two Columns + Sidebar</a></li>
                      <li><a href="blog-3-col.html">Three Columns</a></li>
                      <li><a href="blog-4-col.html">Four Columns</a></li>
                      <li><a href="blog-single.html">Blog Single</a></li>
                      <li><a href="blog-grid.html">Blog Grid</a></li>
                      <li><a href="blog-list.html">Blog List</a></li>
                    </ul>
                  </li>
                </ul>
                <!-- End Sub-->
              </li>
              <!-- End Item With Sub-->
              <!-- span /-->
              <!-- Item With Sub-->
              <!-- End Item With Sub-->
              <li class="slash">/</li>
              <!-- Item With Sub-->
              <li><a href="shop-grid.html" class="mn-has-sub">Shop <i class="fa fa-angle-down button_open"></i></a>
                <!-- Sub-->
                <ul class="mn-sub">
                  <li><a href="shop-grid.html">Shop Grid</a></li>
                  <li><a href="shop-cart.html">Shop Cart</a></li>
                  <li><a href="shop-checkout.html">Shop Checkout</a></li>
                  <li><a href="shop-single.html">Shop Single Product</a></li>
                </ul>
                <!-- End Sub-->
              </li>
              <!-- End Item With Sub-->
              <li class="slash">/</li>
              <!-- Item-->
              <li><a href="page-contact.html">Contact</a></li>
              <!-- End Item-->
              <!-- Search-->
              <li class="search"><a href="#" class="mn-has-sub">Search</a>
                <ul class="search-sub">
                  <li>
                    <div class="container">
                      <div class="mn-wrap">
                        <form method="post" class="form">
                          <div class="search-wrap">
                            <input type="text" placeholder="Where will you go next?" class="form-control search-field"><i class="flaticon-suntour-search search-icon"></i>
                          </div>
                        </form>
                      </div>
                      <div class="close-button"><span>Search</span></div>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- End Search-->
            </ul>
          </div>
          <!-- End Main Menu-->
        </div>
      </nav>
    <!-- End Navigation panel-->
    </header>
    <!-- ! header page-->
	<!-- END NAVIGATION --> 
           <!-- ! header page-->
    <div class="content-body">
