<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="false" version="3.1">
  <display-name>VoyagesInc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>voyages.servlets.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>voyages.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>voyages.servlets.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Products</servlet-name>
    <servlet-class>voyages.servlets.Products</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductDetail</servlet-name>
    <servlet-class>voyages.servlets.ProductDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClientProfile</servlet-name>
    <servlet-class>voyages.servlets.ClientProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClientList</servlet-name>
    <servlet-class>voyages.servlets.ClientList</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductDetail</servlet-name>
    <url-pattern>/products/detail/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientProfile</servlet-name>
    <url-pattern>/admin/client/detail/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientList</servlet-name>
    <url-pattern>/admin/client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>voyages.servlets.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UsefulDataFilter</filter-name>
    <filter-class>voyages.filters.UsefulDataFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UsefulDataFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>